@import '../../sass/main.scss';

.slider{

    @media screen and (max-width: 650px){
        height: 200px;  
        margin: 20px auto;   
    }

    position: relative;
    display: flex;
    width: 100%;
    height: 415px;
    width: 95%;
    margin: 43px auto;
    border-radius: 25px;

    background-position: center;
    background-size: cover;

    &_arrow{
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        height: 15%;
        cursor: pointer;
        &_right{
            right: 25px;
        }
        &_left{
            left: 25px;
        }
    }
    .slideCount{
        position: absolute;
        color: $color-primary;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 500;
        font-size: 18px
    }
}